body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
  background-color: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  color: rgba(212, 20, 67, 1);
}

p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
