body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  color: rgba(212, 20, 67, 1);
}

p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
