:root {
  --text-cl-main: #907e82;
  --text-cl-second: #ffa5ba;
  --text-cl-light: #ffffff;
  --text-cl-dark: #000000;
  --text-cl-accent: #d41443;

  --bg-hero-cl: #ffb8ca;
  --bg-second-cl: #fff5f6;
  --bg-cl-accent: #ecebeb;
  --bg-second-cl-accent: #c7133e;
  --bg-mobile-menu-cl: #e17992;
  --bg-card-second: #f0d1a5;
  --bg-card-third: #c2e297;

  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;

  --btn-border-cl: #e1e1e1;
}
