<section class="about container" id="about">
  <div class="about__wrap">
    <span class="about__span">tradition and love</span>
    <h1 class="about__title">how it’s made?</h1>
    <div class="about__wrap-flex">
      <picture>
        <source
          srcset="./images/about/about_mobile.png 1x, ./images/about/about@2x_mobile.png 2x"
          media="(max-width:767px)"
        />
        <source
          srcset="./images/about/about_tablet.png 1x, ./images/about/about@2x_tablet.png 2x"
          media="(max-width:1279px)"
        />
        <source
          srcset="./images/about/about_desktop.png 1x, ./images/about/about@2x_desktop.png 2x"
          media="(min-width:1280px)"
        />
        <img class="about__image" src="./images/about/about_desktop.png" alt="Cow with a milk" />
      </picture>

      <div class="about__text-wrap">
        <p class="about__paragraph">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros.Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__paragraph about__paragraph-grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat.Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>

        <p class="about__paragraph about__paragraph-grey">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button" data-modal-open-2>
          Read more
          <svg class="about__icon">
            <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- list -->
  <div class="description" id="advantages">
    <ul class="description__list">
      <li class="description__item">
        <svg class="description__icon">
          <use href="./images/icons/sprite.svg#icon-cup-milk-icon"></use>
        </svg>
        <p class="description__numb">721</p>
        <p class="description__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="description__item">
        <svg class="description__icon">
          <use href="./images/icons/sprite.svg#icon-cup-apple-icon"></use>
        </svg>
        <p class="description__numb">16kg</p>
        <p class="description__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="description__item">
        <svg class="description__icon">
          <use href="./images/icons/sprite.svg#icon-eskimo-icon"></use>
        </svg>
        <p class="description__numb">84</p>
        <p class="description__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>

<div class="backdrop backdrop--hidden" data-modal-2>
    <div class="modal modal--bgclon">
        <button class="modal__menu-btn" data-modal-close-2>
            <svg class="modal__btn" width="20" height="20">
              <use
                class="modal__menu-btn-close"
                href="./images/icons/sprite.svg#icon-cross"                
              ></use>
            </svg>
          </button>
        <h2 class="about__main-text">The benefits of milk</h2>
        <p class="about__txt-paragraph">A person eats milk almost from birth, so it is difficult to imagine how we would manage without it in adulthood. Milk contains the entire group of lactic acid bacteria: lactobacilli, lactococci, bifidobacteria, etc. They use the process of lactic acid fermentation for their life, that is, they ferment lactose with the subsequent formation of lactic acid. Once in our body, they begin to compete with harmful microorganisms that live in our intestines.
            “The bacteria in milk are extremely important to us: they produce lactic acid, which kills pests,” says Associate Professor of the Department of Microbiology, Faculty of Biology, Moscow State University. M.V. Lomonosova Elena Vladimirovna Semenova. “The latter are not even always pathogenic, but as a result of their vital activity they accumulate toxic substances inside us”
        </p>
    </div>
</div>

