<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../sass/main.css">
</head>
<body>
    <section class="about container">
        <span class="about__span" >tradition and love</span>
        <h2 class="about__title" >how it’s made?</h2>
        <img src="../images/about/about_DESK.png" alt="Cow with a milk">
        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    
    
            Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button">Read more</button>
        <ul>
            <li>
                <svg>
                    <use href="../../src/images/icons/sprite.svg#icon-cup-milk-icon"></use>
                </svg>
                <p>721</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg>
                    <use href="../../src/images/icons/sprite.svg#icon-cup-apple-icon"></use>
                </svg>
                <p>16kg</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg>
                    <use href="../../src/images/icons/sprite.svg#icon-cup-milk-icon"></use>
                </svg>
                <p>84</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </section>
    
</body>
</html>
