<section class="section contacts__section" id="contacts">
  <div class="container">
    <h2 class="contacts__tittle visually-hidden">Our contacts information</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <div class="contacts__wrapper">
          <p class="contacts__city-name">Chicago</p>
          <p class="contacts__city-descrition">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__wrapper">
          <p class="contacts__weekday">Monday – Friday</p>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          <p class="contacts__weekday">Saturday – Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__wrapper">
          <p class="contacts__relation">
            <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          </p>
          <p class="contacts__relation">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </p>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__category contacts__category--LA">FOOD TRUCK</p>
        <div class="contacts__wrapper">
          <p class="contacts__city-name">Los Angeles</p>
          <p class="contacts__city-descrition">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__wrapper">
          <p class="contacts__weekday">Monday – Friday</p>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          <p class="contacts__weekday">Saturday – Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__wrapper">
          <p class="contacts__relation">
            <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          </p>
          <p class="contacts__relation">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </p>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <div class="contacts__wrapper">
          <p class="contacts__city-name">New York</p>
          <p class="contacts__city-descrition">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__wrapper">
          <p class="contacts__weekday">Monday – Friday</p>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          <p class="contacts__weekday">Saturday – Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__wrapper">
          <p class="contacts__relation">
            <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          </p>
          <p class="contacts__relation">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </p>
        </div>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn-item">
        <button type="button" class="contacts__button" data-modal-open-cont>
          Our Locations
          <svg class="contacts__btn-icon">
            <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button type="button" class="contacts__button contacts__button--fr" data-modal-open-frans>
          Franchise
          <svg class="contacts__btn-icon contacts__btn-icon--fr">
            <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<div class="backdrop backdrop--hidden" data-modal-cont>
  <div class="modal-cont">
      <button class="modal__menu-btn" data-modal-close-cont>
          <svg class="modal__btn--svg" width="20" height="20">
            <use
              class="modal__menu-btn-close"
              href="./images/icons/sprite.svg#icon-cross"                
            ></use>
          </svg>
        </button>
        <iframe class="modal__maps" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1406022.6434494455!2d30.520990240491496!3d46.50537912920489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zZ29vZ2xlINC60LDRgNGC0LA!5e0!3m2!1sru!2sua!4v1623415989223!5m2!1sru!2sua" width="100%" height="100%"></iframe>
      
  </div>
</div>


<div class="backdrop backdrop--hidden" data-modal-frans>
  <div class="modal-crazy modal-crazy--bgc">
      <button class="modal__menu-btn" data-modal-close-frans>
          <svg class="modal__btn--svg" width="20" height="20">
            <use
              class="modal__menu-btn-close"
              href="./images/icons/sprite.svg#icon-cross"                
            ></use>
          </svg>
        </button>
        <h2 class="modal-cont-parag">best franchise</h2>
          <p class="modal-cont-text">Competent marketing policy and dilution of the menu of ice cream parlors with various drinks and desserts helps to reduce seasonal costs. At the same time, the pricing policy of most establishments is such that even premium ice cream is available to customers with almost any income level.

            You can open an ice cream parlor either independently or under the franchise of an already promoted company. Both methods have their pros and cons, but in recent years there has been a clear tendency towards consolidation in the ice cream market, and network players are gradually replacing individual entrepreneurs.
            In addition, it is easier for representatives of federal chains of ice cream parlors who do not have their own capital to obtain a loan for business development, especially if the franchisor is included in the Sberbank Business Start program (for example, the franchisees of the 33 Penguins chain regularly use credit products of this program) ...

            Cooperation between the franchisor and the franchisee legally seals the commercial concession agreement. If the seller and the buyer of the franchise are in different cities, then the contract can be signed remotely. The validity period of the document is usually five years with the possibility of extension by agreement of the parties.
            </p>

      
  </div>
</div>


