<section class="contacts">
    <div class="container">
        <h2 class="contacts__tittle _visually-hidden">
            Our contacts information</h2>
        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__category">CAFE</p>
                <div class="contacts__city-wrapper">
                    <p class="contacts__city-name">Chicago</p>
                    <p class="contacts__city-descrition">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts__work-wrapper">
                    <p class="contacts__weekday">Monday – Friday</p>
                    <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                    <p class="contacts__weekday">Saturday – Sunday</p>
                    <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts__wrapper">
                    <p class="contacts__relation"><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></p>
                    <p class="contacts__relation"><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                </div>
            </li>
            <li class="contacts__item">
                <p class="contacts__category">FOOD TRUCK</p>
                <div class="contacts__city-wrapper">
                    <p class="contacts__city-name">Los Angeles</p>
                    <p class="contacts__city-descrition">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts__work-wrapper">
                    <p class="contacts__weekday">Monday – Friday</p>
                    <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                    <p class="contacts__weekday">Saturday – Sunday</p>
                    <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts__wrapper">
                    <p class="contacts__relation"><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></p>
                    <p class="contacts__relation"><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                </div>
            </li>
            <li class="contacts__item">
                <p class="contacts__category">CAFE</p>
                <div class="contacts__city-wrapper">
                    <p class="contacts__city-name">New York</p>
                    <p class="contacts__city-descrition">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts__work-wrapper">
                    <p class="contacts__weekday">Monday – Friday</p>
                    <p class="contacts__hours">06:00 AM - 10:00 PM</p>
                    <p class="contacts__weekday">Saturday – Sunday</p>
                    <p class="contacts__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts__wrapper">
                    <p class="contacts__relation"><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></p>
                    <p class="contacts__relation"><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                </div>
            </li>
        </ul>
        <button type="button" class="button">Our Locations</button>
        <button type="button" class="button">Franchise</button>
    </div>
</section>