<section class="customer-reviews">
  <div class="container">
    <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>

    <ul class="customer-reviews__list-reviews">
      <li class="customer-reviews__item-review">
        <img
          class="customer-reviews__avatar"
          src="./images/customers/customer-1.png"
          srcset="/images/customers/customer-1.png 1x, /images/customers/customer-1@2x.png 2x"
          alt="Customer Emily"
          width="85"
          height="85"
        />

        <div class="customer-reviews__text-wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer-reviews__markers-wrap">
          <span class="customer-reviews__markers"></span>
        </div>

        <p class="customer-reviews__customer-name">Emily, Los Angeles</p>
      </li>

      <li class="customer-reviews__item-review">
        <img
          class="customer-reviews__avatar"
          src="./images/customers/customer-2.png"
          srcset="/images/customers/customer-2.png 1x, /images/customers/customer-2@2x.png 2x"
          alt="Customer Emma"
          width="85"
          height="85"
        />

        <div class="customer-reviews__text-wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Provident, corporis.
          </p>
        </div>

        <div class="customer-reviews__markers-wrap">
          <span class="customer-reviews__markers"></span>
        </div>

        <p class="customer-reviews__customer-name">Emma, New York</p>
      </li>

      <li class="customer-reviews__item-review">
        <img
          class="customer-reviews__avatar"
          src="./images/customers/customer-3.png"
          srcset="/images/customers/customer-3.png 1x, /images/customers/customer-3@2x.png 2x"
          alt="Customer Olivia"
          width="85"
          height="85"
        />

        <div class="customer-reviews__text-wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Provident, corporis. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Molestiae, facilis? Lorem ipsum dolor sit
            amet.
          </p>
        </div>

        <div class="customer-reviews__markers-wrap">
          <span class="customer-reviews__markers"></span>
        </div>

        <p class="customer-reviews__customer-name">Olivia, Las Vegas</p>
      </li>
    </ul>
  </div>
</section>
