<section class="customer-reviews">
  <div class="container">
    <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>

    <ul class="customer-reviews__list-reviews">
      <li class="customer-reviews__item-review">
        <img class="customer-reviews__avatar" src="" alt="" width="85" height="85" />
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </li>
    </ul>
  </div>
</section>
