<section class="gallery">
  <div class="container">
    <ul class="gallery__grid">
      <li class="gallery__item gallery__item--numbering--1">
        <img class="gallery__img" src="./images/gallery/gallery-1.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--2">
        <img class="gallery__img" src="./images/gallery/gallery-2.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--3">
        <img class="gallery__img" src="./images/gallery/gallery-3.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--4">
        <img class="gallery__img" src="./images/gallery/gallery-4.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--5">
        <img class="gallery__img" src="./images/gallery/gallery-5.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--6">
        <img class="gallery__img" src="./images/gallery/gallery-6.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--7">
        <img class="gallery__img" src="./images/gallery/gallery-7.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--8">
        <img class="gallery__img" src="./images/gallery/gallery-8.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--9">
        <img class="gallery__img" src="./images/gallery/gallery-9.jpg" />
      </li>
      <li class="gallery__item gallery__item--numbering--10">
        <img class="gallery__img" src="./images/gallery/gallery-10.jpg" />
      </li>
    </ul>
  </div>
</section>
