<header class="heading" id="home">
  <div class="container head-container">
    <a href="#">
      <img class="images-logo" src="./images/logo.png" alt="logotype" />
    </a>

    <nav class="navigation">
      <ul class="item-nav">
        <li class="list">
          <a href="#home" class="link active">Home</a>
        </li>
        <li class="list">
          <a href="#advantages" class="link">About us</a>
        </li>
        <li class="list">
          <a href="#about" class="link">How it’s made?</a>
        </li>
        <li class="list">
          <a href="#products" class="link">Our products</a>
        </li>
        <li class="list">
          <a href="#contacts" class="link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="butt-svigge">
      <button class="button" type="button" data-modal-open>
        Buy now
        <svg class="icons-arrow" width="4" height="8">
          <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
        </svg>
      </button>
      <button class="mobile__menu-btn" data-menu-button>
        <svg class="mobile__menu-svg" width="20" height="20">
          <use class="mobile__menu-btn-close" href="./images/icons/sprite.svg#icon-cross"></use>
          <use class="mobile__menu-btn-open" href="./images/icons/sprite.svg#icon-Burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<section class="hero">
  <div class="container hero__container">
    <div class="hero__block">
      <h1 class="hero__text">ice cream made with <span class="hero__objects">passion</span></h1>
      <div class="main-hero-butt">
        <a class="hero__button hero__active--butt" href="#products">Products</a>
        <a class="hero__button hero__tour--main" href="#about">How it’s made?</a>
      </div>
    </div>

    <div class="hero__naturally">
      <p class="hero__lorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero__butt--subj">
        <svg class="hero__icons-arrow" width="7" height="10">
          <use href="./images/icons/sprite.svg#icon-arrow-2-icon"></use>
        </svg>
      </button>
    </div>

    <div class="hero__naturally">
      <p class="hero__lorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero__butt--subj" data-modal-open-1>
        <svg class="hero__icons-arrow" width="7" height="10">
          <use href="./images/icons/sprite.svg#icon-arrow-2-icon"></use>
        </svg>
      </button>
    </div>

    <ul class="desct__foto">
      <li class="desct__link desct__link--figure-1">
        <img
          class="desct__images desct__images--milk-1"
          src="./images/hero/bioeco_DESK.png"
          srcset="./images/hero/bioeco_DESK.png 1x, ./images/hero/bioeco@2x_DESK.png 2x"
          alt=""
        />
      </li>

      <li class="desct__link desct__link--figure-2">
        <img
          class="desct__images desct__images--milk-2"
          src="./images/hero/hero-icecream_DESK.png"
          srcset="
            ./images/hero/hero-icecream_DESK.png    1x,
            ./images/hero/hero-icecream@2x_DESK.png 2x
          "
          alt=""
        />
      </li>

      <li class="desct__link desct__link--figure-3">
        <img
          class="desct__images desct__images--milk-3"
          src="./images/hero/tasty_DESK.png"
          srcset="./images/hero/tasty_DESK.png 1x, ./images/hero/tasty@2x_DESK.png 2x"
          alt=""
        />
      </li>
    </ul>

    <div class="hero__counter">
      <p class="hero__paragraph">16</p>
      <p class="hero__paragraph hero__paragraph--aftor">23</p>
    </div>
  </div>
</section>

<div class="mobile-menu" data-menu>
  <button class="mobile-menu__button" type="button" data-modal-open>
    Buy now
    <svg class="mobile-menu__icons-arrow" width="5" height="8">
      <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
    </svg>
  </button>
  <ul class="items mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link mobile-menu__active">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
</div>

<!-- backdroup -->
<div class="backdrop backdrop--hidden" data-modal>
  <div class="modal modal--bgc">
    <button class="modal__menu-btn">
      <svg class="modal__btn" width="20" height="20">
        <use
          class="modal__menu-btn-close"
          href="./images/icons/sprite.svg#icon-cross"
          data-modal-close
        ></use>
      </svg>
    </button>
    <h2 class="modal__heading">Ice cream world</h2>
    <p class="modal__paragraph">
      Frozen is a food-dessert, which is a mass frozen in the process of continuous beating, which
      basically contains nutritious, flavoring, aromatic and emulsifying substances [1]. Ice cream
      is often also referred to as popsicle, obtained by simply freezing fruit and berry juices and
      mashed potatoes (fruit ice is most often made from an orange). Traditional types of ice cream
      are prepared on the basis of milk mixtures with certain ratios of milk protein and fat and /
      or on the basis of frozen juices, fruits and berries. They have a sweet taste due to the use
      of sugar as one of the main flavoring components, a preservative and a modifier of the
      rheological properties of the mixture at all stages of the ice cream production process.
      Agar-agar, gelatin, starch are used as an emulsifying component of industrially produced ice
      cream. There are ice cream recipes that use egg whites as an emulsifying component.
    </p>

    <button class="modal__button" type="button">Read more...</button>
  </div>
</div>

<div class="backdrop backdrop--hidden" data-modal-1>
  <div class="modal modal--bggn">
    <button class="modal__menu-btn-1" data-modal-close-1>
      <svg class="modal__btn" width="20" height="20">
        <use class="modal__menu-btn-close" href="./images/icons/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <h3 class="modal__head">world of ice cream</h3>
    <p class="modal__parag">
      Milk is a nutrient fluid produced by the mammary glands of female mammals during lactation.
      The natural purpose of milk is to feed [1] offspring (including humans), which are not yet
      capable of digesting other food. Milk is now a component of many products used by humans, and
      its production has become a major industry. The technical regulation defines milk as a product
      of normal physiological secretion of the mammary glands of farm animals, obtained from one or
      more animals during lactation during one or more milking, without any additions to this
      product
    </p>
    <img
      src="https://image.freepik.com/free-photo/glass-bottle-of-fresh-milk-and-a-glass-with-a-straw-on-a-pink-background-healthy-dairy-products-with-calcium_97716-149.jpg"
      alt=""
    />
    <button class="modal__butt" type="button">Read more...</button>
  </div>
</div>
