<header class="heading">

    <a href="#">
        <img class="images-logo" src="./images/logo.png" alt="logotype">
    </a>

    <nav class="navigation">
        <ul class="items">
            <li class="list">
                <a href="#" class="link  active">Home</a>
            </li>
            <li class="list">
                <a href="#" class="link">About us</a>
            </li>
            <li class="list">
                <a href="#" class="link">How it’s made?</a>
            </li>
            <li class="list">
                <a href="#" class="link">Our products</a>
            </li>
            <li class="list">
                <a href="#" class="link">Contact</a>
            </li>
        </ul>
        <button class="button" type="button">Buy now
            <svg class="icons-arrow" width="4" height="8">
                <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
            </svg>
        </button>
</nav>
            

</header>