<header class="heading">
    <div class="container head-container">

    <a href="#">
        <img class="images-logo" src="./images/logo.png" alt="logotype">
    </a>

    <nav class="navigation">
        <ul class="items">
            <li class="list">
                <a href="#" class="link  active">Home</a>
            </li>
            <li class="list">
                <a href="#" class="link">About us</a>
            </li>
            <li class="list">
                <a href="#" class="link">How it’s made?</a>
            </li>
            <li class="list">
                <a href="#" class="link">Our products</a>
            </li>
            <li class="list">
                <a href="#" class="link">Contact</a>
            </li>
        </ul>
        <button class="button" type="button">Buy now
            <svg class="icons-arrow" width="4" height="8">
                <use href="./images/icons/sprite.svg#icon-arrow-1-icon"></use>
            </svg>
        </button>
</nav>
</div>      
</header>

<section class="hero">

    

    <div class="container hero__container">      
        <div class="hero__block">
            <h1 class="hero__text">ice cream made with <span class="hero__objects">passion</span></h1>
            <button class="hero__button hero__active--butt" type="button">
                Products
            </button>
            <button class="hero__button hero__tour--main" type="button">
                How it’s made?
            </button>

            
        </div>

        <div class="hero__naturally">
            <p class="hero__lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="hero__butt--subj">
                <svg class="hero__icons-arrow" width="7" height="10">
                    <use href="./images/icons/sprite.svg#icon-arrow-2-icon"></use>
                </svg>
            </button>
        </div>

        <span class="hero__back"></span>

        <ul class="desct__foto">
            <li class="desct__link desct__link--figure-1">
                <img
              class="desct__images desct__images--milk-1"
              src="./images/hero/bioeco_DESK.png"
              srcset="./images/hero/bioeco_DESK.png 1x, ./images/hero/bioeco@2x_DESK.png 2x"
              alt=""
                />
            </li>
    
            <li class="desct__link desct__link--figure-2">
                <img
              class="desct__images desct__images--milk-2"
                src="./images/hero/hero-icecream_DESK.png"
              srcset="./images/hero/hero-icecream_DESK.png 1x, ./images/hero/hero-icecream@2x_DESK.png 2x"
              alt=""
                />
            </li>
    
            <li class="desct__link desct__link--figure-3">
                <img
              class="desct__images desct__images--milk-3"
              src="./images/hero/tasty_DESK.png"
              srcset="./images/hero/tasty_DESK.png 1x, ./images/hero/tasty@2x_DESK.png 2x"
              alt=""
                />
            </li>
        </ul>

        <div class="hero__counter">
            <p class="hero__paragraph">16</p>
            <p class="hero__paragraph hero__paragraph--aftor">23</p>
        </div> 

        
    </div>
</section>