<!-- Секція Products -->
<section class="container products">
  <span class="section__content">100% natural</span>
  <h2 class="products__title section__title">products</h2>

  <ul class="products__card-set">
    <li class="products-card">
      <picture class="products-card__picture">
        <source
          srcset="
            ./images/products/products-1_desktop.png    1x,
            ./images/products/products-1@2x_desktop.png 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/products/products-1_tablet.png    1x,
            ./images/products/products-1@2x_tablet.png 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/products/products-1_mobile.png    1x,
            ./images/products/products-1@2x_mobile.png 2x
          "
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img
          src="./images/products/products-1_desktop.png"
          width="335"
          height="335"
          alt="Ice cream"
        />
      </picture>
      <div class="products-card__name products-card--pink">
        <h3 class="products-card__title">ice cream</h3>

        <svg class="products__svg" width="26px" height="6px">
          <use href="./images/icons/sprite.svg#icon-round-icon"></use>
        </svg>

        <p class="products-card__lable">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <div class="products__block-svg">
          <svg class="products__content-svg" width="10px" height="10px">
            <use href="./images/icons/sprite.svg#icon-arrow-2-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li class="products-card">
      <picture class="products-card__picture">
        <source
          srcset="
            ./images/products/products-2_desktop.png    1x,
            ./images/products/products-2@2x_desktop.png 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/products/products-2_tablet.png    1x,
            ./images/products/products-2@2x_tablet.png 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/products/products-2_mobile.png    1x,
            ./images/products/products-2@2x_mobile.png 2x
          "
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img
          src="./images/products/products-2_desktop.png"
          width="335"
          height="335"
          alt="Ice coffee"
        />
      </picture>
      <div class="products-card__name products-card--beige">
        <h3 class="products-card__title">ice coffee</h3>

        <svg class="products__svg" width="26px" height="6px">
          <use href="./images/icons/sprite.svg#icon-round-icon"></use>
        </svg>

        <p class="products-card__lable">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <div class="products__block-svg">
          <svg class="products__content-svg" width="10px" height="10px">
            <use href="./images/icons/sprite.svg#icon-arrow-2-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li class="products-card">
      <picture class="products-card__picture">
        <source
          srcset="
            ./images/products/products-3_desktop.png    1x,
            ./images/products/products-3@2x_desktop.png 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/products/products-3_tablet.png    1x,
            ./images/products/products-3@2x_tablet.png 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/products/products-3_mobile.png    1x,
            ./images/products/products-3@2x_mobile.png 2x
          "
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img
          src="./images/products/products-3_desktop.png"
          width="335"
          height="335"
          alt="Milkshakes"
        />
      </picture>
      <div class="products-card__name products-card--green">
        <h3 class="products-card__title">milkshakes</h3>

        <svg class="products__svg" width="26px" height="6px">
          <use href="./images/icons/sprite.svg#icon-round-icon"></use>
        </svg>

        <p class="products-card__lable">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="products__block-svg">
          <svg class="products__content-svg" width="10px" height="10px">
            <use href="./images/icons/sprite.svg#icon-arrow-2-icon"></use>
          </svg>
        </div>
      </div>
    </li>
  </ul>
</section>
