<!-- Секція Products -->
<section class="container products">
  <span>100% natural</span>
  <h2 class="products__title">products</h2>

  <ul class="products__card">
    <li>
      <picture>
        <source
          srcset="
            /images/products/products-1_desk.png    1x,
            /images/products/products-1@2x_desk.png 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-1_tab.png 1x, /images/products/products-1@2x_tab.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-1_mob.png 1x, /images/products/products-1@2x_mob.png 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img src="/images/products/products-1_desk.png" width="270" height="260" alt="Ice cream" />
      </picture>
      <div class="products__name">
        <h3>ice cream</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </li>
    <li>
      <picture>
        <source
          srcset="
            /images/products/products-2_desk.png    1x,
            /images/products/products-2@2x_desk.png 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-2_tab.png 1x, /images/products/products-2@2x_tab.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-2_mob.png 1x, /images/products/products-2@2x_mob.png 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img src="/images/products/products-2_desk.png" width="270" height="260" alt="Ice coffee" />
      </picture>
      <div class="products__name">
        <h3>ice coffee</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </li>
    <li>
      <picture>
        <source
          srcset="
            /images/products/products-3_desk.png    1x,
            /images/products/products-3@2x_desk.png 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-3_tab.png 1x, /images/products/products-3@2x_tab.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-3_mob.png 1x, /images/products/products-3@2x_mob.png 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img src="/images/products/products-3_desk.png" width="270" height="260" alt="Milkshakes" />
      </picture>
      <div class="products__name">
        <h3>milkshakes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </li>
  </ul>
</section>
