<!-- Секція Products -->
<section class="container products">
  <!-- Тичасово ввів стиль content i title для оформлення тексту -->
  <span class="content">100% natural</span>
  <h2 class="products__title title">products</h2>

  <ul class="products__card-set">
    <li class="products-card">
      <picture class="products-card__picture">
        <source
          srcset="
            /images/products/products-1_desk.png    1x,
            /images/products/products-1@2x_desk.png 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-1_tab.png 1x, /images/products/products-1@2x_tab.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-1_mob.png 1x, /images/products/products-1@2x_mob.png 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img src="/images/products/products-1_desk.png" width="335" height="335" alt="Ice cream" />
      </picture>
      <div class="products-card__name products-card--pink">
        <h3 class="products-card__title">ice cream</h3>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </li>
    <li class="products-card">
      <picture class="products-card__picture">
        <source
          srcset="
            /images/products/products-2_desk.png    1x,
            /images/products/products-2@2x_desk.png 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-2_tab.png 1x, /images/products/products-2@2x_tab.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-2_mob.png 1x, /images/products/products-2@2x_mob.png 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img src="/images/products/products-2_desk.png" width="335" height="335" alt="Ice coffee" />
      </picture>
      <div class="products-card__name products-card--beige">
        <h3 class="products-card__title">ice coffee</h3>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </li>
    <li class="products-card">
      <picture class="products-card__picture">
        <source
          srcset="
            /images/products/products-3_desk.png    1x,
            /images/products/products-3@2x_desk.png 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-3_tab.png 1x, /images/products/products-3@2x_tab.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="/images/products/products-3_mob.png 1x, /images/products/products-3@2x_mob.png 2x"
          media="(max-width: 767.98px)"
          type="image/jpeg"
        />
        <img src="/images/products/products-3_desk.png" width="335" height="335" alt="Milkshakes" />
      </picture>
      <div class="products-card__name products-card--green">
        <h3 class="products-card__title">milkshakes</h3>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </li>
  </ul>
</section>
