// Ввів тиичасові стилі для заголовку
.section__content {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-cl-second);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section__title {
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-cl-accent);

  margin-top: 15px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
