.about {
  background-color: var(--bg-second-cl);
}
.about__wrap {
  text-align: center;
}
.about__span {
  font-family: Titan One;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-cl-second);

  font-size: 18px;
  line-height: 1.16;
  @media screen and (min-wdth: 768px) {
    font-size: 26px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.about__title {
  font-family: Titan One;

  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
