.contacts__section {
  padding-top: 43px;
  padding-bottom: 43px;
  background-image: linear-gradient(to bottom, #ffffff 8%, #fff5f6 8%);
}
.contacts__item {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 447px;
  width: 220px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 21px;
  padding-left: 20px;
  background: var(--text-cl-light);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__category {
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;

  color: var(--text-cl-light);
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  &--LA {
    background: var(--bg-card-third);
    width: 130px;
    height: 16px;
  }
}

.contacts__wrapper:not(:last-child) {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__city-name {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.01em;
  color: var(--text-cl-dark);
}

.contacts__city-descrition {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--text-cl-main);
}

.contacts__weekday {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.01em;
  color: var(--text-cl-dark);
}

.contacts__hours {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--text-cl-second);
}

.contacts__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-cl-main);
}

.contacts__btn-list {
  width: auto;
  margin-top: 54px;
}

.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--text-cl-light);

  width: 161px;
  height: 44px;
  border: 0;
  background: var(--text-cl-accent);
  border-radius: 22px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--text-cl-second);
    color: var(--text-cl-accent);
  }
}

.contacts__button--fr {
  margin-top: 10px;
  color: var(--text-cl-accent);
  background: var(--text-cl-second);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-cl-light);
    background-color: var(--text-cl-accent);
  }
}

.contacts__btn-icon {
  width: 6px;
  height: 10px;
  margin-left: 16px;
  fill: currentColor;

  &--fr {
    fill: currentColor;
  }
}
