.contacts__list {
  //   margin: auto;
}
.contacts__item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 447px;
  width: 220px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 21px;
  padding-left: 20px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__category {
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;

  color: #ffffff;
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  &--LA {
    background: #c2e297;
    width: 130px;
    height: 16px;
  }
}

.contacts__wrapper:not(:last-child) {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__city-name {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.01em;
  color: #000000;
}

.contacts__city-descrition {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #907e82;
}

.contacts__weekday {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.01em;
  color: #000000;
}

.contacts__hours {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
}

.contacts__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.contacts__btn-list {
  width: auto;
  margin-top: 54px;
}

.contacts__button {
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  width: 161px;
  height: 44px;
  border: 0;
  background: #d41342;
  border-radius: 22px;

  &--fr {
    margin-top: 10px;
    color: #d41443;
    background: #ffffff;
  }
}
