.hero{
    background-color: var(--bg-hero-cl);
    height: 537px;
}

.hero__container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero__text{
    display: block;
    padding-top: 47px;
    margin-bottom: 25px;
    width: 277px;
    font-family: Titan One;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--text-cl-light);
}

.hero__objects{
    font-size: 58px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--text-cl-accent);
}

.hero__button{
    cursor: pointer;
    padding: 10px 22px;
    border: none;
    font-family: DM Sans;
    background-color: var(--text-cl-light);
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    text-align: center;
    color: var(--text-cl-accent);

    &:hover,
    &:focus{
        color: var(--text-cl-light);
        background-color: var(--text-cl-accent);
    }
}

.hero__active--butt{
    color: var(--text-cl-light);
    background-color: var(--text-cl-accent);
    margin-right: 15px;
}

.hero__back{
    top: -72px;
    width: 540px;
    height: 540px;
    background-color: var(--text-cl-second);
    border-radius: 50%;
    position: absolute;
    margin-left: 387px;
}

.hero__counter{
    margin-right: 18px;
    margin-top: 45px;
}

.hero__paragraph{
    position: relative;
    font-family: Titan One;
    display: block;
    font-size: 46px;
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-cl-accent);

    &::before{
        content: '';
        bottom: 28px;
        left: 44px;
        position: absolute;
        display: block;
        border-radius: 50%;
        background-color: var(--text-cl-light);
        width: 30px;
        height: 30px;
    }

    &::after{
        content: 'cafes';
        text-transform: initial;
        position: absolute;
        font-family: DM Sans;
        font-size: 12px;
        line-height: 1.28;       
        color: var(--text-cl-light);
        top: 50px;
        left: 20px;
    }

        &:nth-child(1){
            margin-bottom: 38px;
        }
}

.hero__paragraph--aftor::after{
        content: 'food trucks';
        text-transform: initial; 
        position: absolute;
        font-family: DM Sans;
        font-size: 12px;
        line-height: 1.28;       
        color: var(--text-cl-light);
        width: 115px;
        top: 50px;
        left: -55px;
}

.desct__link--figure-1{
    display: block;
    position: absolute;
    bottom: -230px;
    left: 15px;
}

.desct__link--figure-2{
    position: absolute;
    z-index: 150;
    top: -20px;
    right: 335px;
}

.desct__link--figure-3{
    display: block;
    position: absolute;
    top: 305px;
    right: 18px;
}

.hero__naturally{
    
    margin-top: 360px;
    margin-left: 200px;
    display: block;
    position: absolute;
}

.hero__lorem{
    width: 200px;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 140%;
    color: var(--text-cl-light);
}

.hero__butt--subj{
    background-color: var(--text-cl-light);
    margin-top: 20px;
    border-radius: 50%;
    border: none;
    width: 26px;
    height: 26px;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: var(--bg-second-cl);
    }
}

.hero__icons-arrow{
    margin: 0;
}